*{
    margin: 0;
    padding: 0;
    text-decoration: none !important;
}

.yahoo-logo img{
    width: 120px;
}

.login-box img{
    width: 90px;
}

.login-box{
    padding: 30px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
    background-color: #fff;
}

.form-control{
    border: none;
    outline: none;
    border-bottom: 1px solid #d8dade;
    width: 300px;
    border-radius: 0;
}

.custom-input:focus{
    padding-left: 0;
    margin: 0;
    border-bottom: 1px solid #188fff !important;
    outline: none ;
    box-shadow: none;
    border-radius: 0;
}

.custom-input:focus + label{
    color: #000 !important;
    transform: scale(.85) translateY(-1.7rem) translateX(.15rem) !important;
}

.form-floating{
    position: relative;
}

.form-floating label{
    position: absolute;
    left: -12px;
    top: 10px;
    color: #999;
}

.btn-primary{
    height: 40px;
    background-color: #188FFF;
}

.fs-6{
    font-size: .92em !important;
    color: #188fff;
}

.fs-6:hover{
    color: #0b79e0;
}

.form-check-label{
    cursor: pointer;
    color: #188fff;
}

.btn-outline-primary{
    height: 40px;
}

.btn-outline-primary:hover{
    background-color: transparent;
    color: #0c72d1;
    border-color: #0c72d1;
}

.btn-outline-secondary{
    width: 100%;
    height: 40px;
}

.btn-outline-secondary img{
    width: 20px;
}

.left-header{
    width: 560px;
    word-wrap: break-word;
}





